* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url('../wallpaper/background_admin.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
nav {
	background-color: rgba(0, 0, 0, 0.2);
}
nav h1 {
	text-align: left;
	color: white;
}

/*JUDUL*/
#judul {
	margin-top: 180px;
	margin-left: 15px;
	margin-bottom: 50px;
	color: white;
}

/*TABEL*/
table {
	margin: 15px;
}
table tr td {
	text-align: center;
	padding: 3px;
}