* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url('../wallpaper/background_admin.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
nav {
	background-color: rgba(0, 0, 0, 0.2);
}
nav h1 {
	text-align: left;
	color: white;
}

/*JUDUL*/
#judul {
	margin-top: 180px;
	text-align: center;
	color: white;
}

/* KONTEN */
.konten {
    background-color: white;
    margin: 50px 80px 50px 80px;
}

/*TABEL*/
table {
	margin: 15px;
}

@media screen and (max-width: 720px) {
    .konten {
        margin: 70px;
        padding: 50px;
    }
    .konten table td {
        font-size: 13px;
        padding: 24px;
        padding-left: 0.1px;
        padding-right: 0.1px;
    }
  }
@media screen and (min-width: 721px) and (max-width: 1200px) {
    .konten {
        padding: 50px;
    }
   }
@media screen and (min-width: 1201px) {
    .konten {
        padding: 50px;
        border-radius: 2.5%
    }
    table tr td {
        padding: 10px;
    }
    

}